.main-container {
    width: 450px;
    min-height: 550px;
    max-height: 900px;
    height: auto;
    overflow-y: auto;
    padding: 30px 35px;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 10px;
    backdrop-filter: blur(4px);
}

.create-task {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.task-input {
    flex: 1;
    outline: none;
    padding: 10px 10px 10px 20px;
    background-color: transparent;
    border: 2px solid var(--main-color);
    border-radius: 30px;
    color: var(--secondary-color);
    font-size: 16px;
    margin-right: 10px;
}

.task-input::placeholder {
    color: #bfbfbf;
}

.add-button {
    border: none;
    outline: none;
    background: var(--main-color);
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    border-radius: 40px;
    width: 100px;
    height: 40px;
}

.tasks-container p {
    color: var(--secondary-color);
    text-decoration: none;
}

.task-text {
    display: block;
    margin-right: 30px;
}

.tasks-container button {
    position: absolute;
    right: 0;
    top: 5px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: none;
    outline: none;
    background: transparent;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.tasks-container button:hover {
    background: rgba(228, 111, 111, 0.9);
}

.empty-list {
    margin: 75px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.empty-list img {
    height: 84px;
    width: 84px;
}

.checked {
    text-decoration: line-through;
}

.checked input::before {
    transform: scale(1);
 }

.utils {
    display: flex;
    position: relative;
    justify-content: space-around;
    margin-bottom: 25px;
}

.border {
    width: 0px;
    border: 1px solid #eeeeee73;
}

.filter {
    display: block;
    height: 60px;
    padding: 1.1rem 0.7rem 1rem 0.7rem;
    font-size: 1.1rem;
    color: var(--secondary-color);
    position: relative;
    cursor: pointer;
}

.delete-all {
    display: block;
    height: 60px;
    padding: 1.1rem 0.7rem 1rem 0.7rem;
    font-size: 1.1rem;
    color: black;
    color: var(--secondary-color);
    position: relative;
    cursor: pointer;
}

.filter::after {
    content: '';
    position: absolute;
    bottom: 0.8rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: rgb(4, 255, 4); 
    transition: all 300ms ease-in-out;
}

.filter:hover::after {
    width: 50%;
    left: 25%;
}

.delete-all::after {
    content: '';
    position: absolute;
    bottom: 0.8rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: crimson; 
    transition: all 300ms ease-in-out;
}

.delete-all:hover::after {
    width: 50%;
    left: 25%;
}

.noTasks {
    color: #eee;
    margin: 40px auto 10px;
    font-size: 20px;
}

.filter-selected::after {
    width: 50%;
    left: 25%;
}
